* {
    margin: 0;
    padding: 0;
}

.calender {
    width: 90%;
    margin: auto;
}

.summary {
    text-align: center;
}

.month,
.year {
    display: inline;
    font-size: 3em;
}

.month::after {
    content: " ";
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px repeat(6, 100px);
}

.day {
    line-height: 50px;
    text-align: center;
    font-size: 2em;
}

.date:nth-child(even) {
    background-color: #888888;
}

.date:nth-child(odd) {
    background-color: #CCCCCC;
}

.date > * {
    font-size: 1.75em;
    margin-top: .4em;
    margin-left: .4em;
}
